---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GithubIcon from "../components/icons/Github.astro";
import MailIcon from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import Briefcase from "../components/icons/Briefcase.astro";
---

<Layout
  title="Portfolio de brayan basurto - Desarrollador y programador web con 1 a침o de experiencia"
  description="Contrata a brayan para crear tu aplicaci칩n web o m칩vil."
>
  <main>
    <SectionContainer class="py-44 pb-20">
      <img
        class="rounded-full size-12 mb-4"
        src="../../public/brayan_basurto.jpg"
        alt="brayan photo"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
        Hey, soy Brayan Basurto
        <a
          href="https://www.linkedin.com/in/brayan-lei-basurto-huam%C3%A0n-270b87259/"
          target="_blank"
          rel="nooper"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>

      <h2 class="text-2xl text-wrap">
        <span> +1 a침os de experiencia.</span>
        <span class="text-yellow-200/90 opacity-80"> Desarrollador web</span>
      </h2>
      <nav class="flex gap-x-4 mt-8">
        <SocialPill
          href="https://www.linkedin.com/in/brayan-lei-basurto-huam%C3%A0n-270b87259/"
        >
          <LinkedInIcon class="size-6">LinkedIn</LinkedInIcon>
        </SocialPill>
        <SocialPill href="https://github.com/Brayan-BH">
          <GithubIcon class="size-6">Github</GithubIcon>
        </SocialPill>
        <SocialPill href="https://github.com/Brayan-BH">
          <MailIcon class="size-6">brayanbasurto007@gmail.com</MailIcon>
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>
  </main>
</Layout>
